<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559193308164-d0jlev483anvon7v9hel83v2r4vlh3l9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559193308164-d0jlev483anvon7v9hel83v2r4vlh3l9</string>
	<key>API_KEY</key>
	<string>AIzaSyAp0MFxGNlw0wIxbXW2myplwJk8wLkuVvg</string>
	<key>GCM_SENDER_ID</key>
	<string>559193308164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>codee.cloche-final</string>
	<key>PROJECT_ID</key>
	<string>cloche-final</string>
	<key>STORAGE_BUCKET</key>
	<string>cloche-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559193308164:ios:e1a73cb67d979a9339c951</string>
</dict>
</plist>